* {
    box-sizing: border-box;
    /* max-width: 70ch; */
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 20px;
    background-color: #adadad;
}

button {
    margin: 10px 20px;
    width: 5rem;
    background-color: #3b3b3b;
    color: #ddd;
    font-size: 0.8rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

button:hover {
    background-color: #3b3b3baf;
}

.text_style {
    position: relative;
    width: 80%;
    margin: 10px auto;
    padding: 5px 20px;
    background-color: #3b3b3b;
    color: #ddd;
    height: 2rem;
}

.main_container {
    width: 80%;
    margin: 5px auto;
    text-align: center;
}

.prevBtn,
.nextBtn {
    position: absolute;
    text-align: center;
    width: 150px;
    right: 10%;
    padding: 0 20px;
    background-color: #3b3b3b;
    color: #dff3b2;
}

.prevBtn:disabled,
.nextBtn:disabled {
    background-color: #adadad;
}

.prevBtn {
    position: absolute;
    left: 10%;
}


/* 
.nextBtn {
    position: absolute;
} */