*,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #ddd;
}

option,
select {
    background-color: #111;
    color: #ddd
}

label {
    margin: 0 1vw;
}

.film {
    text-align: center;
    color: #555
}

.info_wrapper,
.seats {
    position: absolute;
    display: inline-block;
    width: 65%;
    height: 80vh;
    right: 0;
    bottom: 5vh;
    margin: 1vw;
    background-color: #aaa;
    border: 1px solid #555
}

.info_wrapper {
    width: 30%;
    /* height: 90vh; */
    left: 0;
}

.info_box {
    background-color: inherit;
    margin: 1vw;
}

.seats {
    padding: 50px;
}

.room {
    position: relative;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    background-color: inherit;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.seat_mark,
.seat_style {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 5px 15px;
    cursor: pointer;
    /* line-height: 1.1rem; */
    background-color: #00008d;
    color: #00008d;
    border-radius: 30%;
    -webkit-border-radius: 30%;
    -moz-border-radius: 30%;
    -ms-border-radius: 30%;
    -o-border-radius: 30%;
}

.hide {
    color: #aaa;
}

.seat_mark {
    background-color: inherit;
    text-align: center;
    /* font-size: 0.9rem; */
    /* padding: 3px; */
    /* color: #00008d; */
    cursor: default;
}

.seat_style:hover {
    background-color: #6c6cff;
    color: #6c6cff;
}

.booked {
    background-color: orange;
    color: orange;
}

.booked:hover {
    background-color: red;
    color: red;
}

.kassza_sav {
    position: absolute;
    bottom: 20px;
    width: 90%;
    left: 50%;
    height: 10vh;
    line-height: 8vh;
    padding: 10px;
    transform: translateX(-50%);
    /*margin: 0 auto;
    */
    background-color: rgb(252, 200, 104);
    border: 1px solid #555;
    border-radius: 15px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}